.contacet{
  
   background-color: #2C1342;
   padding: 120px 0 101px;
}
.contacettitle{
    font-size: 60px;
    font-family: 'Great Vibes', cursive;
   
    
     color:#fff;
     text-shadow:
     0 1px #808d93,
     -1px 0 #cdd2d5,
     -1px 2px #808d93,
     -2px 1px #cdd2d5,
     -2px 3px #808d93,
     -3px 2px #cdd2d5,
     -3px 4px #808d93,
     -4px 3px #cdd2d5,
     -4px 5px #808d93,
     -5px 4px #cdd2d5,
     -5px 6px #808d93,
     -6px 5px #cdd2d5,
     -6px 7px #808d93,
     -7px 6px #cdd2d5,
     -7px 8px #808d93,
     -8px 7px #cdd2d5;
}
.conp{
    max-width: 85%;   
    z-index: 99;
  
    margin-bottom: 30px;
}
.form{
    color:#FA9E19 !important;
   margin: 25px 0;
}
.form input {
 background-color: #2C1342;
 border: 2px solid #FA9E19;
}